p{
    width:300px;
    line-height: 2em;
}
div h2:nth-of-type(odd){
    color:red;
}
div h2:nth-of-type(even){
    color:blue;
}
div p:nth-of-type(odd){
    background-color: black;
    color:#fff;
}
