* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eef0f7;
    display: grid;
    place-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    background-color: #fff;
    width:50%;
    height: 450px;
    position: relative;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    line-height: 1.5;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
  }
  .container::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to bottom right, #ff9ec4, #ffd07e);
    width: 900px;
    height: 900px;
    border-radius: 50%;
    z-index: -1;
  }
  .container img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: center;
  }
  .container-text {
    padding: 10px 40px 10px 10px;
  }
  .container-text h2 {
    font-size: 1.2rem;
    color: #1a2250;
  }
  .container-text p {
    font-size: 14px;
    color: #3b4169;
    margin: 10px 0;
  }
  .container-text input,
  .container-text button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
  }
  .container-text input {
    border: 2px solid #daddec;
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #656880;
  }
  .container-text button {
   border: 2px solid #6589ff;
    display: block;
    color: #6589ff;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    transition: box-shadow 0.3s ease-in-out;
    transition: all .5s;
  }
  .container-text button:hover {
    background-image: linear-gradient(to right, #89caff, #6589ff);
    color:#fff;
    box-shadow: none;
    transition: all .5s;
  }
  .container-text span {
    display: block;
    text-align: center;
    margin: 20px 0 0;
    color: #babdcb;
    font-size: 12px;
  }
  div.container-text a{
    text-decoration: none;
    color:gray;
    font-size: .8em;
    transition: all .5s;
  }
  div.container-text a:hover{
    color:blue;
   transition: all .5s;
  }