.interns {
    width: 75%;
    margin: 25px auto;
    padding: 15px;
}

.head {
    margin: 50px 0px;
    font-size: 4rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
}

.intern {
    display: block;
    position: relative;
    width: max-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px 0;
    font-size: 1.9rem;
}

.intern::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0px;
    height: 2px;
    background-color: purple;
    transition: .5s ease-out;
}

.intern:hover::before {
    width: 100%;
    transition: .5s ease-in;
}

@media screen and (max-width: 650px) {
    .head {
        text-align: center;
    }
    .intern {
        margin: 25px auto;
        /* width: 100%;
        text-align: center; */
    }
}